* {
    background-color: rgba(31, 29, 43, 1);
    color: white;
}
.scateboard {
    display: grid;
    grid-template-columns: 282px 1158px;
    grid-template-rows: 100px 940px;
}
.gc1 {
    margin: 5px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 100% */
}
.gc2 {
    margin: 5px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px; /* 100% */

}



.sidebar {
    width: 148.001px;
    height: 726px;
    margin: 10px;

}